@import "../../../bower_components/dmix/src/dmix";

/* Colors */

// primary
@prim-1: #8FF448;
@prim-2: #7FB956;
@prim-3: #51A118;
@prim-4: #ACFA75;
@prim-5: #C1FA99;

// secondary
@second-1: #40DBDB;
@second-2: #4DA5A5;
@second-3: #169090;
@second-4: #6FEDED;
@second-5: #91EDED;

// three
@three-1: #F5FE4B;
@three-2: #BBC059;
@three-3: #A1A819;
@three-4: #F8FF78;
@three-5: #FAFF9C;

@settingMargin: 20px;
@borderRadius: 6px;
@border: 3px solid @prim-2;

body {
  background: url('../img/bg.png');
  color: darken(@prim-3, 10%);

  .button() {
    border: @border;
    padding: 5px;
    margin-bottom: 8px;
    text-align: center;
    background-color: @prim-3;
    color: #fff;
    cursor: pointer;

    .ellipsis();
    .border-radius(@borderRadius);
    .transition();

    &:hover {
      background-color: @three-1;
      color: @prim-3;
    }
  }

  #puzzle {
    height: 100%;
    overflow: hidden;
    text-align: center;
  }

  .uk-icon-gear, .uk-icon-photo {
    position: fixed;
    font-size: 32px;
    cursor: pointer;
    z-index: 20;
    opacity: 0.5;

    .transition();

    &:hover {
      opacity: 1;
    }
  }

  .uk-icon-gear {
    top:  @settingMargin / 2;
    left: @settingMargin / 2;
  }

  .uk-icon-photo {
    bottom:  @settingMargin / 2;
    right: @settingMargin / 2;
  }

  #settings {
    position: fixed;
    top: @settingMargin;
    left: 100%;
    bottom: @settingMargin;
    overflow: hidden;
    width: 90%;
    border: @border;

    .hexRgba(background-color, @prim-5, 0.8);
    .border-radius(@borderRadius);
    .transition();

    #settingsBlock {
      height: 100%;
      width: 100%;
      margin: @settingMargin 0;

      .transition();

      .thumbnail {
        .image {
          .hexRgba(background-color, @three-3, .5);
          
          .thumb-container {
            display: block;
            height: 320px;
            text-align: center;
            margin-bottom: 20px;
          }
        }

        .apply-button {
          .button();
        }
      }
      
      .images {
        li {
          .image-button {
            display: block;

            .button()
          }
        }
      }
    }

    &.show { left: 5% }
  }
}

